:root {
  --cell-size: 100px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.table-surface {
  width: 100vw;
  height: 70vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(5, auto);
}

.unit {
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: red;
  border: 1px solid white;
}

.controllers, .header {
  height: 10vh;
  display: grid;
  justify-content: center;
  align-content: left;
  justify-items: left;
  align-items: center;
}

